body {
    font-family: Arial, sans-serif;
    background-color: #b05151;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #574949;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 18px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}